* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}

.sec-1 {
    width: 40vw;
    height: 100vh;
    background-image: url("images/sukuna.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-position-x: -350px;
    min-width: 300px;
}

.sec-2 {
    padding: 5vh 10vw 10vw 10vw;
    font-size: 20px;
    font-weight: bold;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: antiquewhite;
    width: 100%;
    padding: 30px;
    padding-left: 5vw;
}

form {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 20px;
}

.form-title {
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.label {
    padding-bottom: 5px;
    font-size: 18px;
}

section {
    display: flex;
    flex-direction: column;
    width: 45%;
}

input {
    width: 20vw;
    height: 25px;
    border-radius: 5px;
}

.sec-4 {
    padding: 30px;
    padding-left: 5vw;
    /* display: flex;
    justify-content: center; */
}

button {
    padding: 8px;
    width: 20vw;
}